# Byte-compiled / optimized / DLL files
__pycache__/*.*
custom_components/__pycache__/*.*
custom_components/norwegiantide/__pycache__/*.*
*.py[cod]
*$py.class
*.pyc
custom_components/norwegiantide/tmp/*.*
*.pyc
